article > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
article > div >div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#adiv{
    width: 50%;
}